.cover-style-1 {
    width: 100%;
    height: 100vh;
}

.cover-style-1 .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cover-style-1 .cover-shelter {
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.01) 8.1%,
            rgba(0, 0, 0, 0.039) 15.5%,
            rgba(0, 0, 0, 0.083) 22.5%,
            rgba(0, 0, 0, 0.14) 29%,
            rgba(0, 0, 0, 0.207) 35.3%,
            rgba(0, 0, 0, 0.282) 41.2%,
            rgba(0, 0, 0, 0.36) 47.1%,
            rgba(0, 0, 0, 0.44) 52.9%,
            rgba(0, 0, 0, 0.518) 58.8%,
            rgba(0, 0, 0, 0.593) 64.7%,
            rgba(0, 0, 0, 0.66) 71%,
            rgba(0, 0, 0, 0.717) 77.5%,
            rgba(0, 0, 0, 0.761) 84.5%,
            rgba(0, 0, 0, 0.79) 91.9%,
            rgba(0, 0, 0, 0.8) 100%
    );
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    opacity: 0;
}

.cover-style-1 .cover-title {
    position: absolute;
    margin: auto;
    bottom: 52%;
    left: 20%;
    right: 20%;
    text-align: center;
    font: normal 4em FZYanS;
    color: white;
}

@media screen and (max-width: 500px) {
    .cover-style-1 .cover-title {
        font-size: 2.5em;
    }
}

.cover-style-1 .cover-desc {
    position: absolute;
    margin: auto;
    /*bottom: calc(15% - 30px);*/
    top: 52%;
    left: 20%;
    right: 20%;
    text-align: center;
    font: normal 1.2em FZYanS;
    color: white;
}


