.cover-style-1 {
    width: 100%;
    height: 100vh;
}

.cover-style-1 .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cover-style-1 .cover-shelter {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    /*background: linear-gradient(*/
    /*        rgba(0, 0, 0, 0) 0%,*/
    /*        rgba(0, 0, 0, 0.01) 8.1%,*/
    /*        rgba(0, 0, 0, 0.039) 15.5%,*/
    /*        rgba(0, 0, 0, 0.083) 22.5%,*/
    /*        rgba(0, 0, 0, 0.14) 29%,*/
    /*        rgba(0, 0, 0, 0.207) 35.3%,*/
    /*        rgba(0, 0, 0, 0.282) 41.2%,*/
    /*        rgba(0, 0, 0, 0.36) 47.1%,*/
    /*        rgba(0, 0, 0, 0.44) 52.9%,*/
    /*        rgba(0, 0, 0, 0.518) 58.8%,*/
    /*        rgba(0, 0, 0, 0.593) 64.7%,*/
    /*        rgba(0, 0, 0, 0.66) 71%,*/
    /*        rgba(0, 0, 0, 0.717) 77.5%,*/
    /*        rgba(0, 0, 0, 0.761) 84.5%,*/
    /*        rgba(0, 0, 0, 0.79) 91.9%,*/
    /*        rgba(0, 0, 0, 0.8) 100%*/
    /*);*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*opacity: 0;*/
}

.cover-style-1 .cover-text {
    position: absolute;
    top: 0;
    height: 100%;
    left: 20%;
    right: 20%;
    margin: auto;
}

.cover-text .cover-text-1 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    height: 50%;
    left: 0;
    right: 0;
    /*margin: auto;*/
}

.cover-style-1 .cover-date {
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0;
    text-align: center;
    font: 600 0.8em Recursive;
    color: white;
}

.cover-style-1 .cover-title {
    position: relative;
    bottom: 12px;
    margin: 0 auto;
    /*bottom: 52%;*/
    /*left: 20%;*/
    /*right: 20%;*/
    text-align: center;
    font: bold 3.5em FZYanS;
    color: white;
}

.cover-style-1 .cover-class {
    position: relative;
    bottom: 12px;
    margin: 0 auto;
    text-align: center;
    font: 400 0.9em Poppins;
    text-transform: uppercase;
    color: white;
}

@media screen and (max-width: 500px) {
    .cover-style-1 .cover-title {
        font-size: 2.5em;
    }
}

.cover-text .cover-text-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    height: 50%;
    left: 0;
    right: 0;
    /*margin: auto;*/
}

.cover-style-1 .cover-desc {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    /*bottom: calc(15% - 30px);*/
    top: 24px;
    /*left: 20%;*/
    /*right: 20%;*/
    text-align: center;
    font: normal 1em FZYanS;
    color: white;
}


