body {
    margin: 0 0 0 0;
}

#bg-video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: -10;
}

#bg-interact {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    opacity: 0;
    z-index: -8;
}

video#head1 {
    position: fixed;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: -10;
}