body {
    margin: 0 0 0 0;
}

#bg-video, #bg-interact, #head {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
}

#bg-video {
    z-index: -10;
}

#bg-interact {
    opacity: 0;
    z-index: -8;
}

#head {
    z-index: 10;
}

video#head1 {
    position: fixed;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: -10;
}

img#head-logo {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#head-logo {
    width: 400px;
    max-width: 80%;
    height: auto;
}

@media screen and (max-width: 600px) {
    img#head-logo {
        width: 600px;
        max-width: 80%;
        height: auto;
    }
}
